index.json
eco.out
/arnold/HtoAShaders/
/arnold/MtoAShaders/
/arnold/abcproc*
/arnold/agShadingBlocks*
/arnold/boa*
/arnold/alShaders*
/maya/pyexpr*
/lib/alembic*
/lib/boost*
/lib/hdf5*
/lib/ilmbase*
/lib/szip*
/lib/zlib*
/lib/atlib*
/houdini/HtoA/
/maya/MtoA/
/maya/SOuP/
/maya/mayadevkit/
/renderer/3delight/
/renderer/arnold/
/gaffer/gaffer/
/downloads
/*.env
